---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    {% if page.profile -%}
    <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
      {%- if page.profile.image %}
      {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

      {% if page.profile.image_circular %}
      {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
      {% else %}
      {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
      {% endif %}

      {% include figure.html
      path=profile_image_path
      class=profile_image_class
      alt=page.profile.image -%}
      {% endif -%}
    </div>
    {%- endif %}

    <h1 class="post-title">
      {% if site.title == "blank" -%}{{ site.first_name }} {{ site.middle_name }}
      {{ site.last_name }} 「{{ site.chinese_last_name }} {{ site.chinese_first_name }}」{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
    {%- if page.profile.address %}
    <div class="address">
      {{ page.profile.address }}
    </div>
    {%- endif %}

    {%- if page.social %}
    <!-- Social -->
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>

      <div class="contact-note">
        {{ site.contact_note }}
      </div>

    </div>
    {%- endif %}
  </header>

  <article>
    <div class="clearfix">
      <br>
      {{ content }}
    </div>

    <!-- News -->
    {% if page.news and site.announcements.enabled -%}
    <br>
    <h3><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h3>
    {%- include news.html limit=true %}
    {%- endif %}

    <!-- Latest posts -->
    {% if page.latest_posts -%}
    <br>
    <h3><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h3>
    {%- include latest_posts.html %}
    {%- endif %}

    <!-- Selected papers -->
    {% if page.selected_papers -%}
    <h3><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h3>
    {%- include selected_papers.html %}
    {%- endif %}

    <!-- Publications -->
    {% if page.publications -%}
    <h3 style="color: inherit;">Research</h3>
    {%- include publications.html %}
    {%- endif %}

    <!-- Projects -->
    {% if page.projects -%}
    <h3 style="color: inherit;">Projects</h3>
      <div class="projects">
      {%- assign sorted_projects = site.projects | sort: "importance" -%}
      <div class="grid">
        {%- for project in sorted_projects -%}
          {% include projects_home.html %}
        {%- endfor %}
      </div>
      </div>
    {%- endif %}

  </article>

  <!-- Default Statcounter code for HomePage
  https://ashipartame.github.io/ -->
  <script type="text/javascript">
    var sc_project=12900067; 
    var sc_invisible=0; 
    var sc_security="6b4cb5cd"; 
    var scJsHost = "https://";
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="https://c.statcounter.com/12900067/0/6b4cb5cd/0/"
    alt="Web Analytics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->

</div>
